---
import Hamburger from './Hamburger.astro';
import MainNav from './MainNav.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <MainNav />
  </nav>
</header>